.bg {
  background-size: 60px 60px; 
  background-image: 
    linear-gradient(to right, gray 1px, transparent 1px),
    linear-gradient(to bottom, gray 1px, transparent 1px);
  background-repeat: repeat; 
  background-color: #fadaac; 

}

.table-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.row {
  display: flex;
  width: 100%;
  min-height: 100vh;
}

.col {
  padding: 10px;
  box-sizing: border-box;
  overflow: hidden;
}

.fixed {
  width: 800px; 
  flex-shrink: 0; 
  justify-content: center;
}

.collapsible {
  flex: 1;
}

@media (max-width: 600px) { 

  .collapsible {
    flex: 1 1 100%;
  }

  .fixed {
    width: 800px;
  }
}

.container1 {
  display: flex;
  justify-content: center;
}

td {
    width: 70px;
    min-width: 60px;
    max-width: 60px;
}

tr {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}

td label {
    cursor: pointer;
    width: 100%;
    height: 100%;
    display: block;
}

.button-container {
  margin-bottom: 20px;
}

.button1 {
  position: relative;
  outline: 1px solid black;
  background-color: rgb(8, 39, 80);
  padding: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  border-radius: 5%;
}

.button2 {
  position: relative;
  outline: 1px solid black;
  background-color: rgb(8, 39, 80);
  padding: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  left: 10px;
  border-radius: 5%;
}

.styledtable td {
  text-align: center;
  background-color: #ebf1fa;
  margin-left:auto;
}
.styledtable td:nth-child(n+4):nth-child(-n+6) {
  background-color: #9db2cf;
}

.styledtable2 td {
  text-align: center;
  background-color: #ebf1fa;
}

.styledtable2 tr:nth-child(-n+4) td:nth-child(6n+1){
  background-color: #9db2cf;
}

.styledtable2 tr:nth-child(-n+4) td:nth-child(6n+2){
  background-color: #9db2cf;
}

.styledtable2 tr:nth-child(-n+4) td:nth-child(6n+3){
  background-color:#9db2cf;
}

.styledtable3 td {

  text-align: center;
  background-color: #ebf1fa;
}
.styledtable3 tr:nth-child(-n+4):nth-child(-n+5) > td:nth-child(n+4):nth-child(-n+6) {
  background-color: #9db2cf;
}

.fontstyle {
    font-size: 25px;
    font-weight: 590;
    font-family: 'Courier New', Courier, monospace;
}

.fontstyle2 {
    font-size: 40px;
    font-weight: 590;
    font-family: 'Courier New', Courier, monospace;

}

.background:hover {
    background-color: #717e91 !important;
}

input {
    height: 60px;
    width: 60px;
    background: transparent;
    border: none;
    text-align: center;
    font-size: 25px;
    font-weight: 590;
    font-family: 'Courier New', Courier, monospace;
}

input:focus {
    outline: 2px solid black;
}

.webcontainer {
  position: relative;
  left: 80%;
  top: 93%;
}

.webbutton {
  position: absolute;
  width: 50px;
  height: 50px;
  outline: 1.5px solid gray; 
  background-color: #fadaac;
  border-radius: 50%;
} 

.style {
  font-size: 40px;
  text-decoration: none;
  color: #616161;
  font-weight: 500;
  font-family: 'Courier New', Courier, monospace;
  line-height: 1.3;
  text-align: center;
}

.webbutton:hover {
  background-color: rgb(8, 39, 80);
  color: white;
}
