.container1 {
  display: flex;
  justify-content: center;
}


td {
    width: 70px;
    min-width: 60px;
    max-width: 60px;
}

tr {
    height: 60px;
    min-height: 60px;
    max-height: 60px;
}

label {
    cursor: pointer;
}

#n17check, #n56check, #n35check, #s1check, #s2check, #s3check, #s4check {
    display: none;
}


.styledtable td {
  text-align: center;
  background-color: #ebf1fa;
  margin-left:auto;
}
.styledtable td:nth-child(n+4):nth-child(-n+6) {
  background-color: #9db2cf;
}

.styledtable2 td {
  text-align: center;
  background-color: #ebf1fa;
}

.styledtable2 tr:nth-child(-n+4) td:nth-child(6n+1){
  background-color: #9db2cf;
}

.styledtable2 tr:nth-child(-n+4) td:nth-child(6n+2){
  background-color: #9db2cf;
}

.styledtable2 tr:nth-child(-n+4) td:nth-child(6n+3){
  background-color:#9db2cf;
}

.styledtable3 td {

  text-align: center;
  background-color: #ebf1fa;
}
.styledtable3 tr:nth-child(-n+4):nth-child(-n+5) > td:nth-child(n+4):nth-child(-n+6) {
  background-color: #9db2cf;
}

*:has(#n17check:checked) .b11, *:has(#n17check:checked) .b12, *:has(#n17check:checked) .b13 {
  background-color: #fcd8a4;
}

*:has(#n56check:checked) .n56{
  background-color: #fcd8a4;
}

*:has(#n56check:checked) .c533, *:has(#n56check:checked) .c531{
  background-color: #fcd8a4;
  transition-delay: 0.1s;
}

*:has(#n56check:checked) .c233, *:has(#n56check:checked) .c831 {
  background-color: #fcd8a4;
  transition-delay: 0.15s;
}

*:has(#n56check:checked) .c832, *:has(#n56check:checked) .c232{
  background-color: #fcd8a4;
  transition-delay: 0.2s;
}

*:has(#n56check:checked) .c231, *:has(#n56check:checked) .c833 {
  background-color: #fcd8a4;
  transition-delay: 0.25s;
}

.fontstyle {
    font-size: 25px;
    font-weight: 590;
    font-family: 'Courier New', Courier, monospace;
}

.background:hover {
    background-color: #717e91 !important;
}

.fontstyle2 {
    font-size: 20px;
    font-weight: 590;
    font-family: 'Courier New', Courier, monospace;
    padding-top: 10px;
}

.forwardcontainer {
  position: absolute;
  top: 130px;
  left: 520px;
}

.backcontainer {
  position: absolute;
  top: 130px;
  left: 35px;
}

.container {
  position: relative;
}

.ibox {
    width: 555px;
    height: 150px;
    border: 1px solid black;
    padding: 10px;
}

.ibox2 {
    position: absolute;
    width: 555px;
    height: 150px;
    border: 1px solid black;
    background: white;
    display: none;
    padding: 10px;
    top: 0px;
}

#s1check:checked ~ .container .ibox2{
    display: block;
}

.ibox3 {
    position: absolute;
    width: 555px;
    height: 150px;
    border: 1px solid black;
    background: white;
    display: none;
    padding: 10px;
    top: 0px;
}

#s2check:checked ~ .container .ibox3{
    display: block;
}

#s3check:checked ~ .container .ibox4{
    display: block;
}

.ibox4 {
    position: absolute;
    width: 555px;
    height: 150px;
    border: 1px solid black;
    background: white;
    display: none;
    padding: 10px;
    top: 0px;
}

.button1 {
  position: absolute;
  padding: 10px;
  color: black;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  top: 120px;
  left: 400px;
}

.n35 {
  color: transparent;
}

*:has(#n35check:checked) .n35 {
  color: black;
}

.button1 {
  position: absolute;
  outline: 1px solid black;
  background-color: rgb(8, 39, 80);
  padding: 10px;
  text-decoration: none;
  color: white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 550;
  border-radius: 5%;
  top: 120px;
  left: 400px;
}