html {
    overflow: hidden;
}

#cat0-shape, #cat1-shape, #cat2-shape, #cat3-shape, #cat4-shape, #cat5-shape {
    cursor: pointer;
}

input {
    display: none;
}

#header {
    margin: -10;
    width: 105%;
    height: 50px;
    /* background-color: rgb(195, 154, 154); */
    /* outline: 2px solid rgb(7, 7, 7); */
    text-align: center;
    line-height: 3.5;
    z-index: 5;
    font-size: 17;

}

#background {
    position: absolute;
    left: -7.5px;
    top: 50px;
    width: 101%;
    height: 600px;
    background-color: rgb(255, 255, 255);
    z-index: 0;
}

.bg {
    pointer-events: none;
    position: absolute;
    left: -2px;
    bottom: 175px;
    width: 100%;
    height: 30px;
}


#fly-shape {
    position: absolute;
    left: 340px;
    /* top: 300px; */
    width: 80px;
    height: 150px;
    transform: rotate(-30deg);
    background-color: transparent;
    z-index: 3

}

.f1 {
    position: absolute;
    display: block;
    top: 300px;
    left: 250px;
    max-width: 50%;
    max-height: auto;
}

.fly-glow {
    filter: drop-shadow(0 0 10px #e9d844) drop-shadow(0 0 20px #f3e566);
}

#square {
  width: 200px;
  height: 200px;
  background-color: #00f3ff;
  /* Your specific clip-path shape */
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

#fly1-shadow {
    position: absolute;
    left: 240px;
    top: 230;
    width: 300;
    height: 300;
    clip-path: polygon(41% 7%, 47% 16%, 52% 23%, 55% 34%, 58% 44%, 60% 53%, 67% 59%, 72% 63%, 47% 85%, 43% 78%, 41% 67%, 35% 55%, 27% 42%, 14% 30%, 28% 18%);
    background-color: rgb(245, 241, 228);
    transform: scale(75%);
    animation: show-opp 1s infinite;
    animation-play-state: running;
    opacity: 0;

}

#fly2-shadow {
    position: absolute;
    left: 230px;
    top: 220px;
    clip-path: polygon(46% 4%, 58% 18%, 76% 31%, 90% 55%, 79% 61%, 65% 79%, 56% 93%, 48% 74%, 39% 58%, 24% 52%, 13% 42%, 7% 30%, 29% 18%);
    width: 300px;
    height: 300px;
    transform: scale(55%);
    background-color: rgb(245, 241, 228);
    animation: show 1s infinite;
    animation-play-state: running;
    opacity: 0;

}

#fly1 {
    transform: scale(75%);
    display: block;
    z-index: 1;
    animation: show-opp 1s infinite;
    animation-play-state: running;
}

#fly2 {
    left: 240px;
    top: 280px;
    transform: scale(55%);
    z-index:1;
    animation: show 1s infinite;
    animation-play-state: running;
}

.fly-link:hover ~ #fly1, .fly-link:hover ~ #fly2 {
    animation-play-state: paused;
}

.fly-link:hover ~ .s1 #fly1-shadow, .fly-link:hover ~ .s2 #fly2-shadow {
    opacity: 1;
    animation-play-state: paused;
}


#win {
    display: block;
    z-index: 1
}

.window {
    position: absolute;
    display: block;
    max-width: 50%;
    max-height: auto;
}

#window-shape {
    position: absolute;
    background: transparent;
    width: 400;
    transform: scale(40%);
    max-height: 400;
    aspect-ratio: 1 / 1;
    top: -5%;
    z-index: 3
}

#link:hover ~ #win {
    animation: show 1s infinite;
}

@keyframes show {
    0%, 49% {visibility: hidden;}
    50%, 100% {visibility: visible; }
}

@keyframes show-opp {
    0%, 49% {visibility: visible;}
    50%, 100% {visibility: hidden; }
}

#wall-container {
    width: 100%;
    height: 500px;
    background-color: transparent;
    margin-right: 0;
    margin-left: auto;
    margin-top: 20;

}

.pic {
    position: absolute;
    position: fixed;
    left: 50%;
    top: 100px;
    max-width: 20%;
    max-height: auto;
}

#p1, #p2 {
    cursor: pointer;
    display: block;
}

*:has(#pic1-check:checked) #p1 {
    display: none;
}

*:has(#pic2-check:checked) #p2 {
    display: none;
}

.clock {
    position: fixed;
    right: 50;
    margin-top: 20px;
    max-width: 20%;
    max-height: auto;
}

.clock-link:hover ~ #line {
    animation: clock-rotate 5s infinite steps(60);
}

#line {
    display: block;
    width: 50px;
    max-height: 2px;
    aspect-ratio: 25 / 1;
    top: 130px;
    right: 72px;
    background: black;
    transform-origin: left center;
    animation: clock-rotate 60s infinite steps(60);
    animation-delay: 1s;
}

@keyframes clock-rotate {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


#container {
    position: absolute;
    left: -1px;
    width: 100%;
    height: 190px;
    bottom: 0;
    background-color: #fcf2e9;
    outline: 2px solid black;
    container-type: inline-size;
}

.text {
    color:#f4e7d4;
    cursor: text;
    overflow-wrap: break-word;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    font-size: 1.5vw;
}

#cat-container {
    position: absolute;
    width: 60%;
    height: 200px;
    bottom: 0px;
    /* outline: 2px solid black; */
}

#table-shape {
    clip-path: polygon(53.06% 3.06%, 75% 3.06%, 75% 6.63%, 81.44% 6.63%, 83.07% 42.55%, 84.13% 47.29%, 76.36% 47.29%, 51.53% 47.29%, 50.14% 44.07%, 53.51% 38.51%, 57.36% 32.79%, 60.13% 25.9%, 53.06% 25.9%);    
    background-color: transparent;
    position: absolute;
    width: 777;
    max-height: 540;
    aspect-ratio: 490 / 340;
    right: 0;
    margin-left: auto;
    bottom: 0px;
}

.table {
    
    right: 0;
    margin-left: auto;
    bottom: 0px;
    max-width: 40%;
    max-height: auto; 
    position: absolute;
    display: block; 
}

#table-bg {
    clip-path: polygon(74% 9%, 82% 9%, 82% 30%, 86% 30%, 97% 52%, 96% 95%, 93% 95%, 93% 60%, 88% 60%, 88% 84%, 85% 84%, 85% 59%, 38% 60%, 38% 83%, 35% 84%, 35% 59%, 27% 60%, 27% 95%, 24% 94%, 25% 50%, 38% 30%, 61% 30%, 61% 26%, 53% 25%, 53% 4%, 75% 3%);   
    aspect-ratio: 490 / 340;
    right: 0;
    margin-left: auto;
    bottom: 0px;
    background-color: black;
    left: 10;
    display: none;
}

*:has(.comp-link:hover) #table1  {
    display: none;
}

*:has(.comp-link:hover) #background  {
    background-color: rgb(26, 25, 25);
}

*:has(.comp-link:hover) #container, *:has(.comp-link:hover) .text {
    background-color: rgb(129, 129, 129);
    color: rgb(125, 125, 125);
    display: block;
}

*:has(.comp-link:hover) #table-bg {
    display: block;
}

#book-shape {
    clip-path: polygon(41% 33%, 47% 46%, 36% 50%, 32% 37%);
    /* right: 180;
    top: 55px; */
    width: 777;
    max-height: 540;
    aspect-ratio: 490 / 340;
    position: absolute;
    background-color: transparent;
}

.flower {
    right: 30%;
    left: auto;
    margin-left: auto;
    bottom: 100px;
    max-width: 30%;
    max-height: auto; 
    position: absolute;
    display: block; 
}

.img {
    z-index: 1;
}

#fl1 {
    transform-origin: 43% 14%;
}

#fl2 {
    transform-origin: 56% 14%;
}

#flower-shape {
    clip-path: polygon(42% 5%, 45% 10%, 50% 7%, 54% 10%, 58% 7%, 60% 12%, 65% 13%, 66% 17%, 61% 16%, 64% 19%, 63% 23%, 58% 20%, 55% 23%, 56% 28%, 60% 31%, 62% 38%, 60% 46%, 56% 55%, 55% 56%, 44% 56%, 40% 48%, 38% 39%, 38% 32%, 42% 28%, 42% 23%, 40% 19%, 36% 22%, 34% 23%, 34% 16%, 31% 14%, 35% 11%, 39% 11%);
    background-color: transparent;
    width: 400px;
    max-height: 400px;
    aspect-ratio: 400 / 400;
    position: absolute;
    z-index: 5;
}

.flower-link:hover ~ #fl1, .flower-link:hover ~ #fl2 {
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}


#c1, #c2, #c0, #c3, #c4, #c5 {
    display: none;
}

#cat0-shape {
    clip-path: polygon(26% 95%, 30% 87%, 22% 94%, 14% 90%, 17% 83%, 18% 74%, 14% 60%, 11% 43%, 16% 26%, 25% 13%, 24% 9%, 32% 1%, 40% 9%, 48% 5%, 50% 18%, 54% 22%, 74% 18%, 64% 33%, 54% 31%, 45% 37%, 52% 46%, 62% 55%, 68% 68%, 68% 84%, 72% 83%, 77% 78%, 76% 70%, 77% 57%, 85% 50%, 89% 53%, 83% 63%, 84% 71%, 83% 83%, 74% 90%, 65% 91%, 55% 94%, 40% 94%, 31% 98%);
    background-color: transparent;
    width: 120px;
    max-height: 120px;
    aspect-ratio: 120 / 120;
    display: block;
    position: absolute;
    transform: scale(0);
}

.cat0 {
    position: absolute;
    bottom: 10px;
    left: 10%;
    max-width: 20%;
    height: auto;
}

#cat1-shape {
    clip-path: polygon(67% 36%, 72% 37%, 79% 34%, 83% 28%, 85% 31%, 90% 29%, 91% 34%, 95% 40%, 94% 45%, 88% 48%, 86% 47%, 83% 50%, 80% 57%, 84% 65%, 89% 71%, 91% 75%, 86% 76%, 78% 69%, 71% 62%, 68% 68%, 62% 71%, 58% 71%, 56% 68%, 62% 66%, 63% 59%, 51% 58%, 47% 66%, 52% 71%, 52% 76%, 45% 75%, 38% 68%, 38% 59%, 28% 63%, 24% 72%, 19% 72%, 21% 65%, 24% 56%, 29% 53%, 29% 47%, 30% 44%, 18% 42%, 12% 35%, 9% 29%, 3% 30%, 2% 24%, 11% 23%, 16% 28%, 21% 35%, 27% 37%, 37% 35%, 47% 33%, 57% 34%);
    background-color: transparent;
    width: 200px;
    max-height: 200px;
    aspect-ratio: 200 / 200;
    display: absolute;
    transform: scale(0);
    bottom: -20px;
}

.cat1 {
    position: absolute;
    left: 20%;
    max-width: 30%;
    bottom: -20px;
}

#cat2-shape {
    clip-path: polygon(60% 34%, 69% 36%, 74% 37%, 78% 34%, 80% 31%, 84% 28%, 86% 32%, 91% 28%, 90% 35%, 92% 38%, 93% 40%, 100% 33%, 100% 47%, 93% 46%, 89% 47%, 85% 48%, 82% 50%, 78% 54%, 82% 64%, 86% 69%, 90% 71%, 89% 75%, 84% 74%, 78% 69%, 72% 60%, 67% 69%, 63% 75%, 58% 76%, 58% 71%, 61% 69%, 64% 66%, 64% 60%, 63% 57%, 53% 55%, 44% 55%, 39% 59%, 38% 66%, 41% 70%, 44% 72%, 42% 75%, 38% 74%, 35% 69%, 33% 60%, 28% 61%, 25% 66%, 21% 72%, 19% 66%, 21% 60%, 29% 53%, 30% 43%, 22% 43%, 15% 39%, 12% 33%, 9% 28%, 3% 29%, 2% 26%, 7% 24%, 12% 25%, 15% 29%, 17% 34%, 22% 38%, 28% 38%, 37% 34%, 47% 33%);
    background-color: transparent;
    width: 200px;
    max-height: 200px;
    aspect-ratio: 200 / 200;
    transform: scale(0)
    
}

.cat2 {
    position: absolute;
    left: 40%;
    bottom: -20px;
    max-width: 30%;
    height: auto;
}

.cat3 {
    position: absolute;
    left: 60%;
    bottom: -20px;
    max-width: 30%;
    height: auto;
}

#cat3-shape {
    clip-path: polygon(67% 36%, 72% 37%, 79% 34%, 83% 28%, 85% 31%, 90% 29%, 91% 34%, 95% 40%, 94% 45%, 88% 48%, 86% 47%, 83% 50%, 80% 57%, 84% 65%, 89% 71%, 91% 75%, 86% 76%, 78% 69%, 71% 62%, 68% 68%, 62% 71%, 58% 71%, 56% 68%, 62% 66%, 63% 59%, 51% 58%, 47% 66%, 52% 71%, 52% 76%, 45% 75%, 38% 68%, 38% 59%, 28% 63%, 24% 72%, 19% 72%, 21% 65%, 24% 56%, 29% 53%, 29% 47%, 30% 44%, 18% 42%, 12% 35%, 9% 29%, 3% 30%, 2% 24%, 11% 23%, 16% 28%, 21% 35%, 27% 37%, 37% 35%, 47% 33%, 57% 34%);
    background-color: transparent;
    width: 200px;
    max-height: 200px;
    aspect-ratio: 200 / 200;
    display: absolute;
    transform: scale(0);
    bottom: -20px;
}

.cat4 {
    position: absolute;
    left: 80%;
    bottom: -20px;
    max-width: 30%;
    height: auto;
}

#cat4-shape {
    clip-path: polygon(60% 34%, 69% 36%, 74% 37%, 78% 34%, 80% 31%, 84% 28%, 86% 32%, 91% 28%, 90% 35%, 92% 38%, 93% 40%, 100% 33%, 100% 47%, 93% 46%, 89% 47%, 85% 48%, 82% 50%, 78% 54%, 82% 64%, 86% 69%, 90% 71%, 89% 75%, 84% 74%, 78% 69%, 72% 60%, 67% 69%, 63% 75%, 58% 76%, 58% 71%, 61% 69%, 64% 66%, 64% 60%, 63% 57%, 53% 55%, 44% 55%, 39% 59%, 38% 66%, 41% 70%, 44% 72%, 42% 75%, 38% 74%, 35% 69%, 33% 60%, 28% 61%, 25% 66%, 21% 72%, 19% 66%, 21% 60%, 29% 53%, 30% 43%, 22% 43%, 15% 39%, 12% 33%, 9% 28%, 3% 29%, 2% 26%, 7% 24%, 12% 25%, 15% 29%, 17% 34%, 22% 38%, 28% 38%, 37% 34%, 47% 33%);
    background-color: transparent;
    width: 200px;
    max-height: 200px;
    aspect-ratio: 200 / 200;
    transform: scale(0)
}

.glow {
    display: flex;
    filter: drop-shadow(0 0 10px #e9d844) drop-shadow(0 0 20px #f3e566);
    bottom: 0px;
    z-index: 0;
    display: none;
}

.cat {
    clip-path: polygon(72% 51%, 67% 51%, 62% 52%, 58% 56%, 55% 63%, 55% 67%, 58% 73%, 56% 81%, 54% 84%, 59% 86%, 63% 89%, 63% 91%, 58% 92%, 48% 85%, 46% 89%, 49% 92%, 49% 95%, 44% 95%, 40% 89%, 40% 80%, 38% 71%, 32% 76%, 25% 81%, 20% 80%, 17% 76%, 25% 74%, 34% 66%, 39% 63%, 41% 52%, 45% 44%, 46% 39%, 46% 32%, 44% 26%, 41% 18%, 47% 19%, 50% 16%, 54% 16%, 53% 10%, 60% 10%, 58% 16%, 59% 25%, 67% 15%, 71% 16%, 69% 21%, 66% 26%, 65% 33%, 63% 41%, 63% 43%, 68% 43%, 72% 44%, 76% 47%, 76% 51%);    
    background-color: #e9d844;
    max-width: 200px;
    height: 200px;
    aspect-ratio: 200 / 200;
    display: none;
    margin-left: calc(100%);
    bottom: 0px;
}

.box {
    clip-path: polygon(72% 51%, 67% 51%, 62% 52%, 58% 56%, 55% 63%, 55% 67%, 58% 73%, 56% 81%, 54% 84%, 59% 86%, 63% 89%, 63% 91%, 58% 92%, 48% 85%, 46% 89%, 49% 92%, 49% 95%, 44% 95%, 40% 89%, 40% 80%, 38% 71%, 32% 76%, 25% 81%, 20% 80%, 17% 76%, 25% 74%, 34% 66%, 39% 63%, 41% 52%, 45% 44%, 46% 39%, 46% 32%, 44% 26%, 41% 18%, 47% 19%, 50% 16%, 54% 16%, 56% 17.5%, 59% 25%, 67% 15%, 71% 16%, 69% 21%, 66% 26%, 65% 33%, 63% 41%, 63% 43%, 68% 43%, 72% 44%, 76% 47%, 76% 51%);    
    background-color: #e9d844;
    bottom: 0px;
    max-width: 200px;
    height: 200px;
    aspect-ratio: 200 / 200;
    margin-left: calc(100% - 10px);
}

.cat5 {
    position: absolute;
    left: calc(100% - 10px);
    bottom: 0px;
    max-width: 30%;
    height: auto;
    z-index: 5;
}

#cat5-shape {
    clip-path: polygon(72% 51%, 67% 51%, 62% 52%, 58% 56%, 55% 63%, 55% 67%, 58% 73%, 56% 81%, 54% 84%, 59% 86%, 63% 89%, 63% 91%, 58% 92%, 48% 85%, 46% 89%, 49% 92%, 49% 95%, 44% 95%, 40% 89%, 40% 80%, 38% 71%, 32% 76%, 25% 81%, 20% 80%, 17% 76%, 25% 74%, 34% 66%, 39% 63%, 41% 52%, 45% 44%, 46% 39%, 46% 32%, 44% 26%, 41% 18%, 47% 19%, 50% 16%, 54% 16%, 53% 10%, 60% 10%, 58% 16%, 59% 25%, 67% 15%, 71% 16%, 69% 21%, 66% 26%, 65% 33%, 63% 41%, 63% 43%, 68% 43%, 72% 44%, 76% 47%, 76% 51%);    
    background-color: transparent;
    width: 200px;
    max-height: 200px;
    aspect-ratio: 200 / 200;
    transform: scale(0);
}


#cat0-check:checked ~ #container #c1 {
    display: block;
}

#cat1-check:checked ~ #container #c2 {
    display: block;
}

#cat2-check:checked ~ #container #c3 {
    display: block;
}

#cat3-check:checked ~ #container #c4 {
    display: block;
}

#cat4-check:checked ~ #container #c5 {
    display: block;
}

#cat5-check:checked ~ #container #c0 {
    display: block;
}

*:has(#cat0-check:checked) #cat1-shape {
    transform: scale(100%);
}

*:has(#cat1-check:checked) #cat2-shape {
    transform: scale(100%);
}

*:has(#cat2-check:checked) #cat3-shape {
    transform: scale(100%);
}

*:has(#cat3-check:checked) #cat4-shape {
    transform: scale(100%);
}

*:has(#cat4-check:checked) #cat5-shape {
    transform: scale(100%);
}

*:has(#cat4-check:checked) .cat {
    display: block;
}

*:has(#cat5-check:checked) #cat0-shape {
    transform: scale(100%);
}

*:has(#cat5-shape:hover) ~ .glow {
    display: block;
}





